{% extends "start_page/base.html" %}
{% load static %}
{% block content %}
	<!--img src="{% static 'start_page/logo.jpg' %}" id="logo-im"><br-->
	<img src="{% static 'start_page/paw-print.svg' %}" id="logo-image"><br>
	<h3>	
		<b>Walk For The Dog</b> is a web app that allows people to help other people in difficult times.
		When you're on quarantine and can't take a dog for a walk someone can help you with it.
		<br>Just create your account, load your location, the app will show you a list of users in your neighborhood 
		with their free time and allow you to contact with them. 
		People offering help can also load their calendar or write their spare time manually.<br>
		If you're looking for a help or you want to help others, join us today!<br><br>
		<div class="buttons" align="center">
			<a class="reg_log_btn" href="{% url 'register' %}">REGISTER NOW</a>
			<a class="reg_log_btn" href="{% url 'login' %}">LOGIN</a>
		</div>
	</h3>

{% endblock content %}