{% extends "start_page/base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'start_page/matches.css' %}">
{% endblock stylesheet %}

{% block content %}
	{% if not user.is_authenticated %}
		<img src="{% static 'start_page/paw-print.svg' %}" id="logo-image"><br>
		<h3 class="m-3">	
			<b>Walk For The Dog</b> is a web app that allows people to help other people in difficult times.
			When you're on quarantine and can't take a dog for a walk someone can help you with it.
			<br>Just create your account, load your location, the app will show you a list of users in your neighborhood 
			with their free time and allow you to contact with them. 
			People offering help can also load their calendar or write their spare time manually.<br>

			If you're looking for a help or you want to help others, join us today!<br><br>
			<div class="buttons" align="center">
				<a class="reg_log_btn" href="{% url 'register' %}">REGISTER NOW</a>
				<a class="reg_log_btn" href="{% url 'login' %}">LOGIN</a>
			</div>
		</h3>
	{% else %}
		<div class="matches-container m-0">
			<div class="matches-title">
				<h2 class="mt-3 ml-3 mb-1">
					Your matches
				</h2>
			</div>
			<div class="matches m-0">
				{% for matched_user, matched_info in matches.items %}
					<div class="card m-4 rounded">
						<div class="card-body">
							<div class="media align-items-center">
								<img src="{{ matched_user.image.url }}" alt="..." width="100" class="mr-3 rounded-circle img-thumbnail shadow-sm">
								<div class="media-body">
								  	<h4 class="card-title">{{ matched_user.user.username }}</h4>
								  	<h6 class="card-subtitle mb-2 text-muted">
									  	<span class="fa fa-calendar" style="width:20px;"></span> Date Of Joining: {{ matched_user.joining_date }}</br>
										<span class="fas fa-map-marker-alt" style="width:20px;"></span> Location: {{ matched_user.location }}
									</h6>
									{% for dog, times in matched_info.items %}
								  		<div class="card-text">
											<div class="media align-items-center">
												<img src="{{ dog.image.url }}" alt="..." width="50" class="mr-3 rounded-circle img-thumbnail shadow-sm">
												<div class="media-body">
										  			<h5 class="card-title">{{dog.dog_name}}</h5>
										  			<h6 class="card-subtitle mb-2 text-muted">
														{% for time in times %}
														<span class="fa fa-calendar-o" style="width:20px;"></span>{{ time.day }}, {{time.start_hour}}-{{time.end_hour}}
															{% if user.profile.account_type == 'N' %} 
																<a href="{% url 'accept' %}?dogid={{dog.id}}&helperid={{matched_user.id}}&timeperiodid={{time.id}}">
																	<button type="submit" class="btn btn-sm btn-success ml-3">Accept</button>
																</a>
																<a href="{% url 'decline' %}?dogid={{dog.id}}&helperid={{matched_user.id}}&timeperiodid={{time.id}}">
															 	<button type="button" class="btn btn-sm btn-danger">Decline</button>
																</a>
															{% endif %}
														</br>	
														{% endfor %}
													</h6>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% empty %}
						<h3 class="m-3">There's no matches yet</h3>
				{% endfor %}
			</div>
		</div>
	{% endif %}	

{% endblock content %}