{% extends "start_page/base.html" %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'users/calendar.css' %}" rel="stylesheet" type="text/css"/>
{% endblock stylesheet %}


{% block content %}

    <div class="d-flex justify-content-between m-4">
        {% if request.GET.date %}
            {% with date_param=request.GET.date%}
                <a href="{% url 'calendar' %}?view=month&date={{ date_param }}">
                    <button type="button" class="btn btn-primary btn-sm left">Month View</button>
                </a>
                <a href="{% url 'calendar' %}?view=week&date={{ date_param }}">
                    <button type="button" class="btn btn-primary btn-sm middle">Week View</button>
                </a>
                <a href="{% url 'calendar' %}?view=day&date={{ date_param }}">
                    <button type="button" class="btn btn-primary btn-sm right">Day View</button>
                </a>
            {% endwith %}
        {% else %}
            <a href="{% url 'calendar' %}?view=month">
                <button type="button" class="btn btn-primary btn-sm left">Month View</button>
            </a>
            <a href="{% url 'calendar' %}?view=week">
                <button type="button" class="btn btn-primary btn-sm middle">Week View</button>
            </a>
            <a href="{% url 'calendar' %}?view=day">
                <button type="button" class="btn btn-primary btn-sm right">Day View</button>
            </a>
        {% endif %}
    </div>

            {{ calendar }}

    <div class="d-flex justify-content-between m-4">
        {% if request.GET.view %}
            {% with view_param=request.GET.view %}
                <a href="{% url 'calendar' %}?view={{ view_param }}&date={{ prev_view }}">
                    <button type="button" class="btn btn-primary btn-sm left">Previous</button>
                </a>
                <a href="{% url 'calendar' %}?view={{ view_param }}">
                    <button type="button" class="btn btn-primary btn-sm middle">Today</button>
                </a>
                <a href="{% url 'calendar' %}?view={{ view_param }}&date={{ next_view }}">
                    <button type="button" class="btn btn-primary btn-sm middle">Next</button>
                </a>
            {% endwith %}
        {% else %}
            <a href="{% url 'calendar' %}?view=month&date={{ prev_view }}">
                <button type="button" class="btn btn-primary btn-sm left">Previous</button>
            </a>
            <a href="{% url 'calendar' %}?view=month">
                <button type="button" class="btn btn-primary btn-sm middle">Today</button>
            </a>
            <a href="{% url 'calendar' %}?view=month&date={{ next_view }}">
                <button type="button" class="btn btn-primary btn-sm middle">Next</button>
            </a>
        {% endif %}
    </div>
{% endblock content%}