.card-body
{
	text-align: left;
	margin:auto;
    

}

.card-title
{   
	text-align: center;
}

.card {
    background-color:rgba(238, 85, 34, 0.7)!important;
    float: none;
    margin:auto;
    border:2px solid #F68B2A;
    border-radius: 30px;
    /*margin-top: 20px;*/
    
}

.d-block w-100
{
	border-radius: 20px;
}

ul
{
    list-style-type:none;
}


.card-img
{
	width:  25vh;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

}

#carouselExampleCaptions
{
	margin:auto;
	padding: 10px;
	width: 50%;
	height: 50%;
}

.carousel-inner .carousel-control-next , .carousel-control-prev
{
top: 80px;
      bottom: 120px;
}
