{% extends "start_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'profile_editing/prof_ed.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
			 <legend class="mb-4"><h2>Update your account type!</h2></legend>
			 <hr/>
            
            {% if user.profile.account_type == 'N' %}
                Your quarantine has ended? Now you want to help others? Change the type of your profile, update info and help!
            {% else %}
                Now you need the help you gave to others? Change the type of your profile, update info and find your helper!
            {% endif %}

            </br></br>

            {{ ca_form|crispy }}

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> Change! </button>
        </div>

        </form>

    </div>


{% endblock content %}

