{% extends "start_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'register_and_login/reg_log.css' %}">
{% endblock stylesheet %}

{% block content %}

<div class="content-section">

    	<form method="POST">
    		{% csrf_token %}
            <fieldset class="form-group" enctype="multipart/form-data">
                <legend class="mb-4"><h2>Add your time period now!</h2></legend>
				<hr/>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add your time! </button>
            </div>
    	</form>	

    </div>
{% endblock content %}