{% extends "start_page/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Update</h1>

    <div class="content-section">

        <form method="POST">
            {% csrf_token %}

            </br>
            
            {% if user.profile.account_type == 'N' %}
                Your quarantine has ended? Now you want to help others? Change the type of your profile, update info and help!
            {% else %}
                Now you need the help you gave to others? Change the type of your profile, update info and find your helper!
            {% endif %}

            </br></br>

            {{ ca_form|crispy }}

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> Change! </button>
        </div>

        </form>

    </div>
{% endblock content %}

