{% extends "start_page/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'register_and_login/reg_log.css' %}">

{% endblock stylesheet %}

{% block content %}
<br>
	<div class="content-section">

        {% if not user.is_authenticated %}
        	<form method="POST">
        		{% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4">Log In</legend>
                            <hr/>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Login</button>
        	</form>	
            <br>

        	<div class="pt-3">
                <hr>
                <br>
        		<small class="text-muted">
        			Need An Account?  <a class="ml-2" href="{% url 'register' %}" > Sign Up </a>
        		</small>
        	</div>
        {%else %}
            <meta http-equiv="REFRESH" content="0;url={% url 'start_page' %}">
            <div class="row h-100 justify-content-center align-items-center text-center">
                <h2>You are already logged in!</h2>
            </div>
        {%endif%}

    </div>

{% endblock content %}