{% extends "start_page/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'register_and_login/reg_log.css' %}">

{% endblock stylesheet %}

{% block content %}


	<div class="content-section">
    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4">Join Today</legend>
                <hr/>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
    	</form>	

    	<div class="pt-3">
            <hr/>
    		<small class="text-muted">
    			Already Have An Account? <a class="ml-2" href="{% url 'login' %}"> Sign In </a>
    		</small>
    	</div>
    </div>
{% endblock content %}